{% extends 'base-template.html' %}
{% block head %} SPK Property | Cipher {% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="text-center">
        <h1>Ciphering Machine</h1>
    </div>
    <div class="text-center mt-5 mb-5">
        <h3>Unicode Changing Ciphering (Homemade)</h3>
    </div>
    <div class="text-center mt-5 mb-5">
        <a class="btn btn-primary" href="{{ url_for('encode_form') }}" role="button">ENCODE</a>
        <a class="btn btn-danger" href="{{ url_for('decode_form') }}" role="button">DECODE</a>
    </div>
    <div class="text-center mt-5 mb-5">
        <h3>Caesar Ciphering</h3>
    </div>
    <div class="text-center mt-5 mb-5">
        <a class="btn btn-success" href="{{ url_for('cencode_form') }}" role="button">ENCODE</a>
    </div>
</div>


{% endblock %}