{% extends 'base-template.html' %} {%block head%} Decode {%endblock%} {%block
content%}
<div class="container-fluid mt-3">
  <form method="POST" enctype="multipart/form-data">
    <h3>Message Decoder</h3>
    <div class="form-group col-sm-12">
      <!-- <label class="form-label">Message to be Decoded </label> -->
      <textarea
        name="mtodecode"
        class="form-control form-control-sm"
        placeholder="Enter message text to be decoded"
      ></textarea>
    </div>
    <div class="form-group col-sm-12 mt-3">
      <label class="form-label">Key to Decode </label><br>
      <input type="text" name="keytodecode" placeholder="Key to decode" />
    </div>
    <div class="btns">
      <a href="{{ url_for('index') }}" class="btn btn-outline-dark mt-3"
        >Back</a
      >
      <input type="submit" value="Decode" class="btn btn-dark mt-3" />
    </div>
  </form>
  {% if decoded_message %}
  <div class="container card-container">
    <h5>Your Decoded Message</h5>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text text-muted">{{decoded_message}}</p>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{%endblock%}
