{% extends 'base-template.html' %} {%block head%} Encode {%endblock%} {%block
content%}
<div class="container-fluid mt-3">
  <form method="POST" enctype="multipart/form-data">
    <h3>Message Encoder</h3>
    <div class="form-group col-sm-12">
      <!-- <label class="form-label">Message to be Encoded </label> -->
      <textarea
        name="mtoencode"
        class="form-control form-control-sm"
        placeholder="Enter text message to be encoded"
      ></textarea>
    </div>
    <div class="btns">
      <a href="{{ url_for('index') }}" class="btn btn-outline-dark mt-3"
        >Back</a
      >
      <input type="submit" value="Encode" class="btn btn-dark mt-3" />
    </div>
  </form>
  {% if codedmsg %}
  <div class="container card-container">
    <h5>Your Encoded Message</h5>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p id="copytargetencode" class="card-text text-muted">{{codedmsg}}</p>
        <div class="tooltip">
          <button onclick='Copytoclipboardencode()' onmouseout="outFuncencode()">
            <span class="tooltiptext" id="copyencodebtn">Copy to clipboard</span>
            Copy text
            </button>
        </div>          
        <h6 class="card-subtitle mb-2">Key to Unlock: {{key_print}}</h6>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static',filename='js/copynpaste.js') }}" ></script>
  {% endif %}
</div>
{%endblock%}
